.env

/lib
*.egg-info
__pycache__/
*.pyc
*.pyo

*.jpg
*.png   
*.pkl

label_map.json
model.h5
facenet_keras.h5
pretrained_autoencoder.weights.h5
model.keras

venv/
.venv_embedding/
.vscode/
embeddings/